.about-top img{
    width: 70%;
}

.ourteam-card img{
    width: 100%;
    margin-bottom: 12px;
}

.ourteam-card{
    min-height:150px;
}

.ourteam-card .img1 {
    width: 40%;
    margin-bottom: 12px;
}

.ourteam-card{
    line-height: 15px;
}

.section-6{
    background-color: white;
}

.section-6 .ourteam-card{
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.11);
    padding: 20px;
    transition: 0.2s;
}

.section-6 .ourteam-card:hover{
    transform: scale(1.1);
    transition: 0.1s;
    background-color: #bdbdbd;
    color:rgb(102, 102, 102);
    cursor: grab;
}

.about-top1 {
    background-color: rgba(238, 238, 238, 0.616);
}