.about-top img{
    width: 70%;
}

.ourteam-card img {
    width: 100%;
    margin-bottom: 10px;
}

.ourteam-card{
    line-height: 7px;
}

.section-6{
    background-color: white;
}

.section-6 .ourteam-card{
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.11);
    padding: 20px;
    transition: 0.2s;
}

.section-6 .ourteam-card:hover{
    transform: scale(1.1);
    transition: 0.1s;
    background-color: #ffbb55;
    color:white;
    cursor: grab;
}

.about-top1 {
    background-color: rgba(230, 227, 227, 0.432);
}